<blockquote>
<p class="lead"><%= @article.title %></p>
<footer>by <%= @article.name %> on <%= @article.created_at.to_formatted_s(:short)   %></footer>
</blockquote>
<p><%= @article.content %></p>
<br>

<%= link_to 'Back', articles_path %>